@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  /* Inicio */
  body {
    background: whitesmoke;
    background: radial-gradient(closest-side, rgb(62, 0, 84) 0%, rgb(255, 255, 255) 100%);
    font-family: 'Roboto', sans-serif;;
  }
  
  header {
    background: white;
    width: 100%;
    clear: both;
    content:'';
    display: table;
  }
  
  .menu {
    width: 900px;
    margin: 0 auto;
  }
  
  img {
     width: 180px;
     height: 75px;
     float: left;
     padding: 0px;  
  }
  
  nav {
    float: right;
    align-items: center;
    margin-top: 15px;
  }
  
  nav ul li {
    list-style: none;
    margin-left: 75px;
    padding: 12px 0;
    float: left;
    position: relative;
    
  }
  
  nav ul li a {
    text-decoration: none;
    color: #444;
    font-weight: bold;
  }
  
  nav ul li a::before {
    display: block;
    content: '';
    width: 0%;
    background: #444;
    height: 5px;
    top:0;
    position: absolute;
    transition: width 0.2s;
  }
  
  nav ul li a:hover::before {
    width: 100%;
  }

  .ilustracion {
      background: url(../assets/imagenes/Ilustración.jpg) no-repeat center;
      background-size: cover;
      height: 50vh;
      width: 50vh;
      border: 1px solid rgb(82, 0, 82);
      border-radius: 10%;
  }
  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5%; 
  }
  .estilo {
    font-size: 50px;
    padding: 30px;
    text-shadow: black 3px 3px;
  }
  .button-bio {
    cursor:pointer;
    width: 50px;
    height: 50px;
    transform: scale(2);
  }
  /* Biografia */
  .biografia-info {
    display: flex;
    flex-direction: row;
    padding: 100px;
  }
  .imagen {
    background: url(../assets/imagenes/campo_de_criptana.jpg);
    background-size: cover;
    height: 50vh;
    width: 50vh;
    border-radius: 10%;
  }
  .informacion {
    max-width: 60%;
    padding: 20px;
    text-align: justify;
  }
  .info-imagenes {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
  }
  .tech {
    max-width: 100px;
    margin: 20px;
  }
  .info-botones {
    display: flex;
    justify-content: space-around;
  }
  .info-enlaces{
    margin: 15px;
    background-color: rgb(57, 7, 103);
    color: azure;
    width: 65px;
    height: 25px;
    border-radius: 10%;
    cursor: pointer;
  }
.info-enlaces a{
  all:unset
}
  .info-enlaces:hover{
  background-color: rgb(100, 100, 176);
  }
/* Contacto */
.contacto form{
  justify-content: space-around;
  padding: 10px;
  display: flex;
  flex-direction: column;
  max-width: 30%;
}
.contacto {
  align-items: center;
  display: flex;
  flex-direction: column;
}
/* Portfolio */
.imagen-portfolio{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.imagenport {
    background-size: cover;
    height: 50vh;
    width: 70vh;
}
.imagen-portfolio h2{
padding: 20px;
}